[class^="MWWElement-"],
[class*=" MWWElement-"]
{
	display: inline-block;
	height: 25px;
	width: 25px;
	padding: 0px;
	margin: 0px;
	background: no-repeat center;
}

.MWWSpell
{
	margin: 0px;
	margin-top: 5px;
	position: relative;
	top: -5px;
	background: -webkit-radial-gradient(gray, black); /* Safari */
	background: -o-radial-gradient(gray, black); /* For Opera 11.1 to 12.0 */
	background: -moz-radial-gradient(gray, black); /* For Firefox 3.6 to 15 */
	background: radial-gradient(gray, black); /* Standard syntax (must be last) */
	padding: 5px;
	border-radius: 10px;
	display: inline-block;
	color: white;
}

.MWWElement-Q
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/Q.png");
}

.MWWElement-W
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/W.png");
}

.MWWElement-E
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/E.png");
}

.MWWElement-R
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/R.png");
}

.MWWElement-A
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/A.png");
}

.MWWElement-S
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/S.png");
}

.MWWElement-D
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/D.png");
}

.MWWElement-F
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/F.png");
}

.MWWElement-X
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/unknown.png");
}

.MWWElement-text
{
	opacity: 0;
}