[class^="MWWElement-"],
[class*=" MWWElement-"]
{
	display: inline-block;
	height: 20px;
	width: 20px;
	padding: 0px;
	margin: 0px 0px;
	margin-bottom: -4px;
	background: no-repeat center;
}

.MWWElement-Q
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/Water.png");
}

.MWWElement-W
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/Life.png");
}

.MWWElement-E
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/Shield.png");
}

.MWWElement-R
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/Cold.png");
}

.MWWElement-A
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/Lightning.png");
}

.MWWElement-S
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/Arcane.png");
}

.MWWElement-D
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/Earth.png");
}

.MWWElement-F
{
	background-image: url("http://galbar.github.io/M-WW-Spell-Parser/images/Fire.png");
}
